// @use "@/style/utils/_variables" as *;

@mixin button($bg, $color) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: $bg;
  color: $color;
  font-weight: bold;
  cursor: pointer;
}

@mixin line($color, $height: 5px) {
  width: 100%;
  height: $height;
  background-color: $color;
  border-radius: 20px;
}
