// Color variables
$color-primary: #284866;
$color-primary-selected: #3a76a9;
$color-primary-hover: #2f6899;
$color-secondary: #d0eaa1;
$color-secondary-selected: #729b43;
$color-secondary-hover: #76a343;

$bg-primary: #f2f2fa;
$bg-secondary: #ffffff;
$bg-shadow: #f9f9f9;

$font-color: #2c2c2c;
$font-color-light: #f2f2fa;
$font-color-focus: #0f0f0f;
$font-color-disable: #bcbccb;

$shadow-color: #ddd;

// Font variables
$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-big: 20px;

// Spacing variables
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;

// selector status
$paid-status: #00a02f; // Green
$unpaid-status: #d72215; // Red
$worning-status: #feb019; // Orange
$active-status: #acacac; // Grey
