

// Color variables
$color-primary: #284866;
$color-primary-selected: #3A76A9;
$color-primary-hover: #3878b0;
$color-secondary: #D0EAA1;
$color-secondary-selected: #729B43;
$color-secondary-hover: #76a343;

$bg-primary: #F2F2FA;
$bg-secondary: #FFFFFF;

$font-color: #2C2C2C;
$font-color-light: #F2F2FA;

$shadow-color: #bcbcbc;

// Font variables
$font-base: 'Quicksand', sans-serif;
$font-size-small: 14px;
$font-size-big: 20px;

// Spacing variables
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;