// Color variables
$color-primary: #284866;
$color-primary-selected: #3a76a9;
$color-primary-hover: #3878b0;
$color-secondary: #d0eaa1;
$color-secondary-selected: #729b43;
$color-secondary-hover: #76a343;
$text-color: #2c2c2c;

$bg-primary: #f2f2fa;
$bg-secondary: #ffffff;

$font-color: #2c2c2c;
$font-color-light: #f2f2fa;

$shadow-color: #bcbcbc;

// Font variables
$font-base: "Quicksand", sans-serif;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-big: 20px;

// Spacing variables
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
