@use "@/style/utils/_variables" as *;

.transaction-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $bg-primary;
  width: 100%;
  .filter-item {
    font-size: $font-size-medium;
    color: $font-color;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: $color-secondary;
      border-radius: 5px;
    }
    .filter-text {
      font-size: $font-size-medium;
      color: $font-color;
    }
  }
}
