@use "@/style/utils/_variables" as *;

.transaction-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: $color-primary;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  .filter-item {
    font-size: $font-size-medium;
    font-weight: bold;
    cursor: pointer;
    .filter-text {
      font-size: $font-size-medium;
      color: $font-color-light;
    }
  }
}
