.check-button {
  display: inline-flex;
  align-items: center;
  background: unset;
  border: unset;
  margin: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  color: #333;

  &:hover {
    background: #ddd;
  }

  &.checked {
    background: #007bff;
    border-color: #007bff;
    color: white;
  }

  .checkmark {
    width: 18px;
    height: 18px;
    border: 1px solid #989898;
    border-radius: 5px;
    background-color: whitesmoke;

    .checked & {
      border-color: white;
    }
  }
}
