@use "@/style/utils/_variables" as *;
@use "@/style/utils/_mixings" as *;

.landing-page {
  background: linear-gradient(
    135deg,
    $color-primary 0%,
    $color-primary-hover 50%,
    $color-primary-selected 100%
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-base;

  .landing-container {
    background-color: $bg-secondary;
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0 0 15px $shadow-color;
    width: 100%;
    max-width: 400px;
    min-height: 350px;
  }
}
// login modal styles

.login-title {
  color: $color-primary;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;

  label {
    margin: 0.5rem 0 0.25rem;
    color: $font-color;
    font-weight: 500;
  }

  input {
    padding: 0.5rem 0.75rem;
    border: 1px solid $shadow-color;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.2s;

    &:focus {
      outline: none;
      border-color: $color-primary;
      color: $font-color-focus;
    }
  }
}
.login-button,
.register-button {
  @include longButton($color-primary, $font-color-light);
  margin: 1.5rem;
}

// Register modal styles

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-base;

  .register-container {
    width: 100%;
    max-width: 450px;
    .register-title {
      color: $color-primary;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .register-form {
      display: flex;
      flex-direction: column;

      label {
        margin: 0.5rem 0 0.25rem;
        color: $font-color;
        font-weight: 500;
      }

      input {
        padding: 0.5rem 0.75rem;
        border: 1px solid $shadow-color;
        border-radius: 4px;
        font-size: 1rem;
        transition: border-color 0.2s;

        &:focus {
          outline: none;
          border-color: $color-primary;
          color: $font-color-focus;
        }
      }
    }
  }
}

span.or {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  color: $color-primary;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    height: 2px;
    display: flex;
    background: $color-primary;
    width: 100%;
  }
}
