@use "@/style/utils/_variables" as *;
@use "@/style/utils/mixings" as *;
.side-bar {
  width: 15%;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  .user-info-header {
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
    margin: 0 20px;
    .info-wrapper {
      display: flex;
      flex-grow: 1;
      margin: 10px;
      flex-direction: column;
      span.info-section {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
  .sidebar-list {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 10px 0;
    .sidebar-item {
      display: flex;
      align-items: center;
      padding: 10px 0;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        background-color: $color-primary-selected;
        border-radius: 5px;
      }
    }
  }
}

.logout {
  @include longButton($color-primary-hover, $font-color-light);
  border: none;
  border-radius: 4px;
  background-color: #3878b0;
  color: #f2f2fa;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 91%;
  margin-top: auto;
  text-align: center;
  padding: 12px;
}
