@use "../../style/utils/variables" as *;

.wallets-page {
  height: 100%;
  display: block;
  .wallets-container {
    display: flex;
    position: relative;
    margin: 20px 15px;
    flex-direction: column;
    max-height: calc(100% - 120px);
    .cards-swapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      flex-wrap: wrap;
      overflow: auto;
      .card {
        width: calc(33% - 80px);
        background-color: #f2f2fa;
        border-radius: 5px;
        box-shadow: #ddd 0px 0px 9px 4px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        align-items: center;
        img {
          width: 120px;
        }
      }
    }
  }
}
