@use "../../style/utils/variables" as *;
@use "../../style/utils/mixings" as *;

.wallets-page {
  height: 100%;
  display: block;
  .wallets-container {
    display: flex;
    position: relative;
    margin: 20px 15px;
    flex-direction: column;
    max-height: calc(100% - 120px);
    .cards-swapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 20px;
      flex-wrap: wrap;
      overflow: auto;
      background-color: $bg-primary;
      .card {
        height: 200px;
        width: 350px;
        color: $font-color-light;
        @include ShadowBorder();
        margin: 20px;
        background-image: url("./images/credit-card.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .card_info {
          display: flex;
          height: 100%;
          width: 100%;
          position: relative;
          bottom: 23px;
          align-items: flex-end;
          justify-content: space-evenly;
          .line {
            &.card_expiry {
              font-size: 0.9rem;
              color: $font-color-disable;
              position: relative;
              left: 40px;
            }
            .card_label {
              color: $font-color-disable;
            }
          }
        }
      }
    }
    .no-wallets {
      background: $bg-secondary;
      margin: 20px;
      padding: 20px;
      color: #3b6cc1;
      text-decoration: underline;
      cursor: pointer;
      text-align: center;
      @include ShadowBorder();
    }
  }
}
