@use "../style/layouts/Sidebar" as *;
@use "../style/components/_Header" as *;
@use "../style/components/_FilterTransaction" as *;
@use "../style/utils/mixings" as *;
@use "../style/components/ItemPanel" as *;
@use "../style/ui/AutoAssignPanel.scss" as *;
@use "../style/ui/Buttons.scss" as *;
@use "../style/ui/ExpensesChard" as *;
@use "../style/layouts/Landing.scss" as *;
@use "../style/ui/Loader.scss" as *;
@use "../style/layouts/Wallets.scss" as *;
@use "../style/components/modals/CardModal.scss" as *;

body {
  margin: 0;
  font-family: $font-base;
}

.app {
  display: flex;
  margin: 5px;
  border-radius: 5px;
  height: calc(100vh - 20px);
  box-shadow: $shadow-color 0px 0px 9px 4px;
}

.app .main {
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

// tmp
