@use "../style/layouts/Sidebar" as *;
@use "../style/components/_Header" as *;
@use "../style/components/_FilterTransaction" as *;
@use "../style/utils/mixings" as *;
@use "../style/components/ItemPanel" as *;
@use "../style/ui/Buttons.scss" as *;
@use "../style/layouts/Landing.scss" as *;
@use "../style/ui/Loader.scss" as *;
@use "../style/layouts/Wallets.scss" as *;
@use "../style/components/modals/Modals" as *;
@use "../style/components/Chards" as *;
@use "../style/ui/ListCard" as *;
@use "../style/layouts/Transaction" as *;
@use "../style/layouts/Settings" as *;
@use "../style/ui/animations" as *;
@use "../style/components/AvatarModal" as *;
@use "../style/ui/Bars.scss" as *;

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-base;
}

.app {
  display: flex;
  margin: 5px;
  border-radius: 5px;
  height: calc(100vh - 20px);
  box-shadow: $shadow-color 0px 0px 9px 4px;
}

.app.mobile {
}

.app .main {
  width: 100%;
  height: 100%;
}

.rotate {
  transform: rotate(180deg);
}

.disable {
  pointer-events: none;
  opacity: 0.5;
  background-color: $bg-shadow;
  color: $font-color-disable;
  cursor: not-allowed;
}

select {
  cursor: pointer;
}
.not-found-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 300px;
    height: 300px;
  }
}
