@use "@/style/utils/_variables" as *;
@use "@/style/utils/_mixings" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .modal-container {
    background: $bg-secondary;
    padding: 1.6em;
    border-radius: 10px;
    min-width: 300px;
    .card-modal,
    .group-modal,
    .more-info-modal {
      .title {
        text-align: center;
        background: $bg-primary;
        padding: 5px;
        border-radius: 10px;
        margin: 0 0 1rem 0;
      }
      .form-inputs {
        display: flex;
        flex-direction: column;
        .input_field {
          display: inherit;
          flex-direction: inherit;
          input,
          select {
            border: 1px solid $font-color-disable;
            padding: 9px;
            margin-bottom: 5px;
            border-radius: 5px;
            &:focus-visible {
              outline: none;
            }
          }
          label {
            color: #2c2c2c;
            font-weight: 500;
            margin-bottom: 5px;
          }
        }
        .input_field.amount_calc {
          margin-bottom: 12px;
          align-items: center;
          #group_budget {
            font-weight: 500;
          }
        }
      }
      .form_buttons {
        background-color: $bg-primary;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        .close-btn,
        .save-btn {
          width: 45%;
          @include simpleButton($color-primary-hover, $bg-secondary);
        }
      }
    }
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .info-label {
      font-weight: 600;
    }
    .info-value {
      font-weight: 400;
    }
  }
  .confirmation-modal {
    display: flex;
    flex-direction: column;
    .title {
      text-align: center;
      background: $bg-primary;
      padding: 5px;
      border-radius: 10px;
      margin: 0 0 1rem 0;
    }
  }
  .confirmation-modal {
    .message {
      margin: 2rem 0;
      text-align: center;
      font-weight: bold;
      font-size: $font-size-medium;
    }
    .actions {
      display: flex;
      justify-content: space-evenly;
      .confirm-button,
      .cancel-button {
        width: 45%;
        @include simpleButton($color-primary-hover, $bg-secondary);
      }
    }
  }
}
