@use "@/style/utils/_variables" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .modal-container {
    background: $bg-secondary;
    padding: 2rem;
    border-radius: 10px;
    min-width: 300px;
  }
  .card-modal,
  .group-modal {
    display: flex;
    flex-direction: column;
    .tittle {
      text-align: center;
      background: $bg-primary;
      padding: 20px;
      border-radius: 10px;
    }
  }
}
